*{
	margin: 0;
	padding: 0;
}

#map{
	width: 99%;
	height: 80vh;
	border: 2px solid #3fb3b9;
}
button{
	margin: 15px auto;
	padding: 10px 15px;
	color: white;
	background-color: #e56a77;
	border: 0;
	font-weight: 700;
	border-radius: 3px;
	font-family: "Raleway";
	font-size: 15px;
	display: block;
}
button:hover, button:focus{
	outline: 0;
}
p{
	font-weight: bolder;
	margin-top: 5px;
	margin-bottom: 5px;
}
input{
	margin-top: 5px;
	border: 1px solid #3fb3b9;
	border-radius: 3px;
	padding: 5px 10px;
}

footer{
	background-color: #e56a77;
	color: whitesmoke;
	padding-bottom: 10px;
	padding-top: 5px;
}